* {
    background-color: bisque;
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-weight: 150;
}

h1 {
    background-color: burlywood;
    font-size: 50px;
    text-align: center;
}

h2, h3 {
    display: block;
    padding: 10px;
    background-color: burlywood;
}

a {
    display: block;
    background-color: burlywood;
    padding: 10px;
    margin-left: -40px;
    color:black;
    text-align: center;
    font-size: 25px;
    margin-bottom: 135px;
}

img {
    height: auto;
    width: 500px;
    display: block;
    margin: auto;
}

.thumbnail {
    height: 300px;
    width: auto;
    position: absolute;
    clip: rect(50px, 400px, 185px, 0);
}